ul.nav li{
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    text-align: center;
}

.nav a{
	background-color: lightgreen;
	color: black;
	border: 2px solid black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

h1{
	font-size: 50px;
	color: blue;
	text-align: center;
}

#quote q{
	font-style: italic;
	text-align: center;
}

.latin{
	color: red;
}

.english{
	color: black;
}

#pug{
	text-align: center;
	padding-top: 15px; 
}

#section2{
	border: 2px solid yellow;
	text-align: justify;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

#section2 h2{
	color: brown;
}

h2{
	color: purple;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	border-spacing: 5px;
}

th, td{
	padding:15px;
}

td{
	text-align: center
}

#section4 ul li{
	color: green;
}

.special{
	font-weight: bold;
}